In [15]:
import hashlib
from dotenv import load_dotenv
import os

load_dotenv(override=True)

SENHA_SECRETA = os.getenv("SENHA_SECRETA")

def hash_string(input_string):
    sha256_hash = hashlib.sha256()
    sha256_hash.update(''.join([input_string,SENHA_SECRETA]).encode('utf-8'))
    return sha256_hash.hexdigest().upper()

In [16]:
linhas = [['Rica', '3143154', 'Amazão'],
          ['Rica', '3143154', 'Shopee'],
          ['Nuiza', '6666', 'Amazão'],
          ['Helona', '1231231', 'Amazão'],
          ['Rica', '3143154', 'Petz']
        ]
import pandas as pd

df = pd.DataFrame(linhas)
df.columns = ['nome', 'cpf', 'loja']

In [17]:
df

     nome      cpf    loja
0    Rica  3143154  Amazão
1    Rica  3143154  Shopee
2   Nuiza     6666  Amazão
3  Helona  1231231  Amazão
4    Rica  3143154    Petz

In [18]:
df['cpf_mascarado'] = df['cpf'].apply(lambda x: hash_string(x))

In [19]:
df

     nome      cpf    loja                                      cpf_mascarado
0    Rica  3143154  Amazão  6F5128C8A6FFC852B0AF0BBDDA1B7D6221F5ECCC130A4E...
1    Rica  3143154  Shopee  6F5128C8A6FFC852B0AF0BBDDA1B7D6221F5ECCC130A4E...
2   Nuiza     6666  Amazão  86F03EB6E408DD9AF399819D112E16C70440F5A40B4A9E...
3  Helona  1231231  Amazão  9A398A530E0068C64BDC168334C38AC48DDA3166B600A2...
4    Rica  3143154    Petz  6F5128C8A6FFC852B0AF0BBDDA1B7D6221F5ECCC130A4E...