In [1]:
import hashlib
from dotenv import load_dotenv
import os

load_dotenv(override=True)

SENHA_SECRETA = os.getenv("SENHA_SECRETA")

def hash_string(input_string):
    sha256_hash = hashlib.sha256()
    sha256_hash.update(''.join([input_string,SENHA_SECRETA]).encode('utf-8'))
    return sha256_hash.hexdigest().upper()

In [7]:
linhas = [['Rica', 'admin', 'Amazão'],
          ['Lu', 'read', 'Shopee'],
          ['Nuiza', 'write', 'Amazão']
        ]
import pandas as pd

df = pd.DataFrame(linhas)
df.columns = ['nome', 'cpf', 'loja']

In [8]:
df

    nome    cpf    loja
0   Rica  admin  Amazão
1     Lu   read  Shopee
2  Nuiza  write  Amazão

In [9]:
df['masked'] = df['cpf'].apply(lambda x: hash_string(x))

In [10]:
df.drop(['cpf'],axis=1,inplace=True)

In [11]:
df

    nome    loja                                             masked
0   Rica  Amazão  CC937758D23FF42B680397BD08FC01FB3A0F1F39CBF03A...
1     Lu  Shopee  EB9A7B7AC5C1AEDF30A86B7DDA84E89D36D86A91685775...
2  Nuiza  Amazão  759A9432F1F7D73252D1E2C6C82A8B0F0B5532457D4C1C...

In [12]:
df.iloc[0]['masked']

'CC937758D23FF42B680397BD08FC01FB3A0F1F39CBF03A64B0B4B44E305549DF'

In [13]:
df.iloc[1]['masked']

'EB9A7B7AC5C1AEDF30A86B7DDA84E89D36D86A91685775D3BE2D19A3B7D19B92'

In [14]:
df.iloc[2]['masked']

'759A9432F1F7D73252D1E2C6C82A8B0F0B5532457D4C1C94E37F42D40B20A7DF'